commands:
  01_install_dependencies:
    command: |
      source /opt/python/run/venv/bin/activate
      pip install -r /opt/python/current/app/requirements.txt
  02_update:
    command: |
      python -m ensurepip --upgrade
      python -m pip install --upgrade setuptools
  03_install_fasttext:
    command: |
      source /opt/python/run/venv/bin/activate
      git clone https://github.com/facebookresearch/fastText.git
      cd fastText
      pip install .
